In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url='https://www.theglobalstatistics.com/literacy-rate-in-india/'
page=requests.get(url).text

In [3]:
soup=BeautifulSoup(page,'html.parser')

In [4]:
tables=soup.find_all('table')

In [5]:
table1=pd.DataFrame(columns=['LITERACY RATE','PERCENTAGE'])
for row in soup.find_all('table')[0].find('tbody').find_all('tr'):
    col=row.find_all('td')
    rates=col[0].text
    perc=col[1].text
    table1=table1.append({'LITERACY RATE':rates,'PERCENTAGE':perc},ignore_index=True)

C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\4281136505.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table1=table1.append({'LITERACY RATE':rates,'PERCENTAGE':perc},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\4281136505.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table1=table1.append({'LITERACY RATE':rates,'PERCENTAGE':perc},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\4281136505.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table1=table1.append({'LITERACY RATE':rates,'PERCENTAGE':perc},ignore_index=True)

In [6]:
table1

                           LITERACY RATE PERCENTAGE
0         Literacy Rate of India in 2023      77.7%
1    Male literacy rate of India in 2023      84.7%
2  Female literacy rate of India in 2023      70.3%

In [7]:
table1.to_csv('Literacy Rate India 2023.csv')

In [8]:
table2=pd.DataFrame(columns=['RURAL/URBAN AREA','PERCENTAGE'])
for row in soup.find_all('table')[1].find('tbody').find_all('tr'):
    col=row.find_all('td')
    area=col[0].text
    perc=col[1].text
    table2=table2.append({'RURAL/URBAN AREA':area,'PERCENTAGE':perc},ignore_index=True)

C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\1337180334.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table2=table2.append({'RURAL/URBAN AREA':area,'PERCENTAGE':perc},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\1337180334.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table2=table2.append({'RURAL/URBAN AREA':area,'PERCENTAGE':perc},ignore_index=True)

In [9]:
table2

                        RURAL/URBAN AREA PERCENTAGE
0  Literacy Rate in Urban Areas of India      87.7%
1  Literacy Rate in Rural Areas of India      73.5%

In [10]:
table2.to_csv('Literacy Rate Rural Urban Area.csv')

In [11]:
table3=pd.DataFrame(columns=['HIGHEST LITERACY RATE','PERCENTAGE'])
for row in soup.find_all('table')[2].find('tbody').find_all('tr'):
    col=row.find_all('td')
    high=col[0].text
    perc=col[1].text
    table3=table3.append({'HIGHEST LITERACY RATE':high,'PERCENTAGE':perc},ignore_index=True)

C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\3498118928.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table3=table3.append({'HIGHEST LITERACY RATE':high,'PERCENTAGE':perc},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\3498118928.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table3=table3.append({'HIGHEST LITERACY RATE':high,'PERCENTAGE':perc},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\3498118928.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table3=table3.append({'HIGHEST LITERACY RATE':high,'PERCENTAGE':perc},ignore_index=True)

In [12]:
table3

                    HIGHEST LITERACY RATE   PERCENTAGE
0         Highest Literacy State in India       Kerala
1    Highest Male Literacy State in India  Lakshadweep
2  Highest Female Literacy State in India       Kerala

In [13]:
table3.to_csv('Highest Literacy Rate.csv')

In [14]:
table4=pd.DataFrame(columns=['LOWEST LITERACY RATE','PERCENTAGE'])
for row in soup.find_all('table')[3].find('tbody').find_all('tr'):
    col=row.find_all('td')
    low=col[0].text
    perc=col[1].text
    table4=table4.append({'LOWEST LITERACY RATE':low,'PERCENTAGE':perc},ignore_index=True)

C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\3536531947.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table4=table4.append({'LOWEST LITERACY RATE':low,'PERCENTAGE':perc},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\3536531947.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table4=table4.append({'LOWEST LITERACY RATE':low,'PERCENTAGE':perc},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\3536531947.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table4=table4.append({'LOWEST LITERACY RATE':low,'PERCENTAGE':perc},ignore_index=True)

In [15]:
table4

                    LOWEST LITERACY RATE      PERCENTAGE
0         Lowest Literacy State in India  Andhra Pradesh
1    Lowest Male Literacy State in India       Rajasthan
2  Lowest Female Literacy State in India           Bihar

In [16]:
table4.to_csv('Lowest Literacy State.csv')

In [17]:
table5=pd.DataFrame(columns=['STATE','LITERACY RATE','MALE','FEMALE'])
for row in soup.find_all('table')[4].find('tbody').find_all('tr'):
    col=row.find_all('td')
    states=col[0].text
    rates=col[1].text
    males=col[2].text
    females=col[3].text
    table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)

C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\2430662370.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table5=table5.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)

In [18]:
table5

              STATE LITERACY RATE    MALE  FEMALE
0            Kerala         96.2%  96.11%  92.07%
1             Delhi         88.7%  90.94%  87.33%
2       Uttarakhand         87.6%   87.4%  70.01%
3  Himachal Pradesh         86.6%  89.53%  75.93%
4             Assam         85.9%  77.85%  66.27%
5       Maharashtra         84.8%  88.38%  75.87%
6            Punjab         83.7%  80.44%  70.73%
7           Gujarat         82.4%  85.75%  69.68%
8       West Bengal        81.69%  70.54%   80.5%
9           Haryana         80.4%  84.06%  65.94%

In [19]:
table5.to_csv('State-wise Highest Literacy Rate.csv')

In [20]:
table6=pd.DataFrame(columns=['STATE','LITERACY RATE','MALE','FEMALE'])
for row in soup.find_all('table')[5].find('tbody').find_all('tr'):
    col=row.find_all('td')
    states=col[0].text
    rates=col[1].text
    males=col[2].text
    females=col[3].text
    table6=table6.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)

C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\12774094.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table6=table6.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\12774094.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table6=table6.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\12774094.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table6=table6.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\12774094.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table6=table6.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_11640\12774094.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table6=table6.append({'STATE':states,'LITERACY RATE':rates,'MALE':males,'FEMALE':females},ignore_index=True)

In [21]:
table6

            STATE LITERACY RATE  MALE FEMALE
0  Andhra Pradesh          66.4  73.4   59.5
1       Rajasthan          69.7  80.8   57.6
2           Bihar          70.9  79.7   60.5
3       Telangana          72.8  80.5   65.1
4   Uttar Pradesh            73  81.8   63.4

In [22]:
table6.to_csv('State-wise Lowest Literacy Rate.csv')

In [23]:
url2='https://www.macrotrends.net/countries/IND/india/literacy-rate'
page2=requests.get(url2).text

In [24]:
soup2=BeautifulSoup(page2,'html.parser')

In [25]:
tables=pd.read_html(page2)

In [26]:
tables2=tables[1]
tables2

  India Literacy Rate - Historical Data
                                   Year Literacy Rate Annual Change
0                                  2018        74.37%         5.07%
1                                  2011        69.30%         6.55%
2                                  2006        62.75%         1.74%
3                                  2001        61.01%        12.79%
4                                  1991        48.22%         7.46%
5                                  1981        40.76%         7.46%

In [27]:
tables2.to_csv("India's Literacy Rate through years.c")